@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  @apply text-center;
}

.page-title {
  @apply text-center text-4xl font-bold;
}

.info-text {
  @apply text-center;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.users-listing {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 25px 10px 0;
  font-weight: bold;
}
